.EmptyContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.LoadingText {
    background-color: var(--verde);
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    border: solid 2px;
    padding: 10px;
}